<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div data-ng-app="myApp" data-ng-controller="GridController" id="container" >

    <div
        style="width:200px; height:260px; margin: 5px; float:left; border:solid 1px #999999;"
        data-ng-repeat="data in gridData | limitTo : currentLimit ">
        #<span data-ng-bind="{[{ data.id }]}"></span>
        <br><br><br>
        <img src="{[{ data.image }]}" style="max-width:200px; max-height: 250px" />

    </div>

    <div  style="clear:both;"></div>

    <div style="margin: 0 auto; text-align: center">
        <div style="cursor: pointer; font-size:26px; margin:30px; color:#999999" data-ng:click="getMore()"><< Fetch more results >></div>
    </div>

</div>

{{ render(controller("W4YAngularJsBundle:Default:index")) }}

<script type="text/javascript" src="{{ asset('bundles/w4ysandbox/assets/js/GridController.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/w4yangularjs/assets/js/AngularApp.js') }}"></script>


</body>
</html>